name: test_build_go

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Test_shell_run
      run: bash test_shell.sh

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'
    - nameï¼šCross-compilation
      run: |
         go install github.com/mitchellh/gox@latest
         gox

    - name: Test_file_run
      run: |
         chmod +x main
         ls 
         ./main
      
    - name: echo secrets value
      run: echo ${{ secrets.REMOTE_PASS }}
